<div class="tought-form-container">
    <h1>Editar Equipamento:</h1>
    <form action="/toughts/edit" method="POST">
    <input type="hidden" name="id" value="{{tought.id}}">
        <div class="form-control">
            <label for="patrimonio">Patrimonio:</label>
            <input type="text" name="patrimonio" placeholder='"Digite o patrimonio..."' value="{{tought.patrimonio}}">
        </div>
        <div class="form-control">
            <label for="marca">Marca:</label>
            <input type="text" name="marca" placeholder='"Digite a marca..."' value="{{tought.marca}}">
        </div>
        <div class="form-control">
            <label for="modelo">Modelo:</label>
            <input type="text" name="modelo" placeholder='"Digite o modelo..."' value="{{tought.modelo}}">
        </div>
        <div class="form-control">
            <label for="serial">Serial:</label>
            <input type="text" name="serial" placeholder='"Digite o serial..."' value="{{tought.serial}}">
        </div>
        <div class="form-control">
            <label for="localizacao">Localização:</label>
            <input type="text" name="localizacao" placeholder='"Digite a localizacao..."' value="{{tought.localizacao}}">
        </div>
        <div class="form-control">
            <label for="observacao">Observação:</label>
            <input type="text" name="Observacao" placeholder='"Digite a observacao..."' value="{{tought.observacao}}">
        </div>
        <input type="submit" value="Editar Equipamento">
    </form>
</div>