<div class="home-header">
    {{#if search}}
        <h1>Você esta buscando por: <span>{{search}}</span></h1>
        {{#if toughtsQty}}
            <p>Foram encotrados <span>{{toughtsQty}}</span> resultados para <span>{{search}}</span></p>
        {{else}}
            <p>Nenhum pensamento foi encontrado para o termo: <span>{{search}}</span></p>
        {{/if}}
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Está buscando por algo?">
        <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordenar por:</span>
        <form action="/">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughts}}
        <figure>
            <blockquote>
                <form  action="/toughts/{{this.id}}" method="GET">
                    <input type="hidden" name="id" value="{{this.search}}">
                    Patrimonio: <a href="/toughts/{{this.id}}">{{this.patrimonio}}</a>
                    <input type="submit" value="Ver" id="pequeno">
                </form>
                <form  action="/toughts/edit/{{this.id}}" method="GET">
                    <input type="hidden" name="id" value="{{this.search}}">
                    <input type="submit" value="Editar" id="pequeno">
                </form>
                {{#if this.emprestado}}
                    <form  action="/emprestimo/add" method="GET">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Recolher" id="pequeno">
                    </form>
                {{else}}
                    <form  action="/emprestimo/add/{{this.id}}" method="GET">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Emprestar" id="pequeno">
                    </form>
                {{/if}}
            </blockquote>
        </figure>
    {{/each}}
</div>