
<h1>Equipamento:</h1>

<p>Patrimonio: {{tought.patrimonio}}</p>
<p>Marca: {{tought.marca}}</p>
<p>Modelo: {{tought.modelo}}</p>
<p>Serial: {{tought.serial}}</p>
<p>Licalização: {{tought.localizacao}}</p>
<p>Observação: {{tought.observacao}}</p>

<br>
<h1>Histórico</h1>

{{#each emprestimo}}
    <u>
        <li>Usuário: {{userName}}</li>
        <li>Retirada: {{dataEmprestimo}}</li>
        <li>Devolução: {{dataDevolucao}}</li>
    </u>
    <br>
{{/each}}

