
<h1>Equipamento:</h1>

<div class="equipamento">
    <p><span>Patrimonio: </span>{{tought.patrimonio}}</p>
    <p><span>Marca: </span>{{tought.marca}}</p>
    <p><span>Modelo: </span>{{tought.modelo}}</p>
    <p><span>Serial: </span>{{tought.serial}}</p>
    <p><span>Licalização: </span>{{tought.localizacao}}</p>
    <p><span>Observação: </span>{{tought.observacao}}</p>
</div>
<br>
<h1>Histórico</h1>
<div class="historico">
    {{#each emprestimo}}
        <u>
            <li><span>Usuário:</span> {{userName}}</li>
            <li><span>Retirada:</span> {{formatDate dataEmprestimo}}</li>
            <li><span>Devolução:</span> {{formatDate dataDevolucao}}</li>
        </u>
        <br>
    {{/each}}
</div>
