
<h1>Equipamento:</h1>


<p><span>Patrimonio:</span> {{this.patrimonio}}</p>
<p><span>Marca:</span> {{this.marca}}</p>
<p><span>Modelo:</span> {{this.modelo}}</p>
<p><span>Serial:</span> {{this.serial}}</p>
<p><span>Localização:</span> {{this.localizacao}}</p>
<p><span>Observação:</span> {{this.observacao}}</p>

<br>


